    body {
        background-image: url('music.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    h2 {
        background-color: purple;
        color: white;
        text-align: center;
        font-size: 40px;
        margin: 0;
        padding: 2px 0;
        font-family: verdana;
    }
    .menu-bar {
        background: rgb(0, 100, 0);
        text-align: left;
    }
    .menu-bar ul {
        display: inline-flex;
        list-style: none;
        color: white;
    }
    .menu-bar ul li {
        width: 120px;
        margin: 0;
        padding: 15px;
    }
    .menu-bar ul li a {
        text-decoration: none;
        color: white;
    }
    .active, .menu-bar ul li:hover {
        background: #2bab0d;
        border-radius: 2px;
    }
    .menu-bar i {
        margin-right: 8px;
    }
    .sub-menu-1
    {
        display: none;
    }
    .menu-bar ul li:hover .sub-menu-1
    {
        display: block;
        position: absolute;
        background: tomato;
        margin-top: 15px;
        margin-left: -15px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul
    {
        display: block;
        margin: 0;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li
    {
       width: 100px;
       padding: 10px;
       border-bottom: 1px dotted #fff;
       background: transparent;
       border-radius: 0;
       text-align: left;
    }
   .menu-bar ul li:hover .sub-menu-1 ul li: last-child
    {
       border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li a:hover
    {
       color: #b2ff00;
    }
    .fa-angle-right
    {
       float: right;
    }
    .sub-menu-2
    {
       display: none;
    }
    .hover-me:hover .sub-menu-2
    {
       position: absolute;
       display: block;
       margin-top: -30px;
       margin-left: 100px;
       background: tomato
    }
    footer.footer 
    {
       position: fixed;
       bottom: 0;
       width: 100%;
    }
    .inner-footer
    {
       margin: 0;
       padding: 0;
       background-color: #272727;
    }
    .social-links
    {
       display: flex;
    }
    .social-links ul
    {
       padding: 10px;
       display: flex;
       width: 300px;
       height: 30px;
       margin: auto;
    }
    .social-items
    {
       list-style: none;
       display: Inline-block;
    }
    .social-items a 
    {
       padding: 10px 20px;
       font-size: 30px;
       color: #6cccc6;
    }
    .social-items a:hover
    {
       color: #54a39e;
    }
   .outer-footer 
    {
    text-align: center;
    padding: 6px;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
   }
