     body
         {
           background-color: #F0FFF0;
            text-align: center;
           margin-bottom: 60px;
         }
       h1{
           background-color: blue;
             color: white;
             margin: 0px;
             padding: 5px;
             text-align: center;
            font-style: italic;
         }
       h2{
           background-color: purple;
             color: white;
             margin: 0px;
             padding: 5px;
             text-align: center;
             font-style: italic;
         }
        b{
           color: red;
           font-family: verdana;
           font-size: 20px;
           text-align: left;
         }
       p {
           text-align: left;
           max-width: 800px;
           margin: 0 auto;
           padding: 4px;
           font-size: 20px;
           overflow-y: auto;
           margin-bottom: 15px;
         }
        i{
           color: green;
           font-size: 25px;          
         }